<ul class="nav nav-tabs nav-justified">
	<li class="inline">
	  <%= link_to user_path(@user) do %>
	    <div class="text">投稿数</div>
	    <div class="num"><%= @user.posts.count %></div>
	  <% end %>
	</li>
	<li class="inline">
	  <%= link_to follows_user_path(@user) do %>
	    <div class="text">フォロー</div>
	    <div class="num"><%= @user.followings.count %></div>
	  <% end %>
	</li>
	<li class="inline">
	  <%= link_to followers_user_path(@user) do %>
	    <div class="text">フォロワー</div>
	    <div class="num"><%= @user.followers.count %></div>
	  <% end %>
	</li>
	<li class="inline">
      <%= link_to favorites_user_path(@user) do %>
	    <div class="text">いいね一覧</div>
	    <div class="num"><%= @user.favorites.count %></div>
	  <% end %>		
	</li>
</ul>