<div id="tweets-content">
  <div class="row">    
    <%= render "header" %>
    <div class="list-group">
	  <% if @user.posts.empty? %>
	    <div class="list-group-item">まだ投稿はありません</div>	  
	  <% end %>
	  <%= render "users/user_posts", post: @user.posts %>
    </div>
  </div>
</div>
	




<!-- <p>名前は<%= @user.name %></p>
<p>紹介は<%= @user.bio %></p>
<p>IDは<%= @user.id %></p> -->
