
<%= render "panel" %>

<% if notice %>
  <p id="notice"><%= notice %></p>
<% end %>
<%= link_to "全てのつぶやき", posts_path %>
<%= link_to "フォロワーのつぶやき", timeline_posts_path %>

<%= render "users/post", post: @posts %>
